# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '36 12 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue got marked as stale. Reason: No activity'
        stale-pr-message: 'This pull request got markes as stale. Reason: No activity'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-stale: 14
        days-before-close: -1
        remove-stale-when-updated: true
        
